@CHARSET "UTF-8";

.check {
	width: 40px !important;
	height: 35px;
	margin: 0px !important;
}

.modal img {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%)
}

.jconfirm-box-container .content {
	min-height: auto;
}

.pull-right {
	margin-left: 5px;
}

.skin-blue .main-header .navbar {
    background-color: #de6d27;
}

.skin-blue .main-header .logo {
    background-color: #de6d27;
}

.skin-blue .sidebar-menu > li:hover > a,
.skin-blue .sidebar-menu > li.active > a {
  background: #1e282c;
  border-left-color: #de6d27;
}

.skin-blue .main-header .logo:hover {
  background-color: #de6d27;
}

.skin-blue.layout-top-nav .main-header > .logo:hover {
  background-color: #de6d27;
}

.skin-blue .main-header .navbar .nav > li > a:hover,
.skin-blue .main-header .navbar .nav > li > a:active,
.skin-blue .main-header .navbar .nav > li > a:focus,
.skin-blue .main-header .navbar .nav .open > a,
.skin-blue .main-header .navbar .nav .open > a:hover,
.skin-blue .main-header .navbar .nav .open > a:focus,
.skin-blue .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #de6d27;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
  color: #de6d27;
  background: rgba(0, 0, 0, 0.1);
}